header {
    margin-top: -10rem;
}


/* PÁGINA HISTÓRIA */

section.hero-historia {
    display: block;
    margin-top: 10rem;
    background-image: url(../img/historia/historia.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 30rem;
}

section.hero-historia h2 {
    font-weight: 500;
    font-size: 4.2rem;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
    padding-top: 5%;
}

section.hero-historia p {
    font-size: 2.25rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
}

section.historia {
    background: #191919;
}

section.historia div.historia-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    width: 128rem;
    margin: 0 auto;
    padding-top: 5rem;
}

section.historia div.historia-container div.histo {
    flex: 2 1 35rem;
}

section.historia div.historia-container div.historia-item {
    padding: 5rem;
}

section.historia div.historia-container div.historia-item h2 {
    padding-bottom: 2rem;
}

section.historia div.historia-container div.historia-item p {
    font-weight: 200;
    font-size: 1.6rem;
    line-height: 30px;
    margin-top: 3rem;
    color: #6F6F6F;
}

section.historia div.historia-container div.item-valores ul {
    margin-top: 3rem;
}

section.historia div.historia-container div.item-valores ul li {
    font-weight: 200;
    font-size: 1.6rem;
    color: #6F6F6F;
    ;
}

section.historia div.historia-container div.item-valores ul li::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: white;
    margin-right: 10px;
}

section.historia div.historia-container div.item-our-historia {
    margin-bottom: 2rem;
}